@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #2E7D32;
  --accent-green: #66BB6A;
  --light-gray: #F7F7F7;
}

body {
  background-color: var(--light-gray);
  color: var(--foreground);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
